@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
@import './additional-styles/flatpickr.css';
@import './additional-styles/utility-patterns.css';

/* Custom variants handled in tailwind.config.js */
